@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family: Tahoma, "Microsoft Sans Serif", Verdana;
	font-size:12px;


}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.TitleCaption{
	font-weight: bolder;
	color: #003;	
}

.BorderDash{
	border: 1px dashed #333;	
}